.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  h1 {
    font-size: 44px;
    color: #333;
  }
}

.form-container {
   width: 20%;
   height: 100%;
   float: left;
}

.card-deck-container {

  height: 80%;
  width: 80%;
  float: right;
}
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

